*.cabal
*.iml
.idea/
.idea/**

*.tmp

examples/good/lol.ml
web/frontend/src/parser/
web/frontend/node_modules/
**/node_modules/

test/Generated/
test/Generated/**
parser/

dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

!web/ocamlhs-web.cabal
!docs/parser
web/frontend/build/